<ng-container *ngIf="args.phone">
  <div
    matDialogTitle
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <strong style="font-size: large"> {{ getTitle() }} </strong>
    <button
      mat-icon-button
      (click)="args.closeDialog()"
      *ngIf="args.closeDialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div style="display: flex; align-items: center; gap: 8px; margin-top: 8px">
    <button mat-icon-button style="vertical-align: middle" (click)="sendWhatsapp()">
      <img alt="Whatsapp icon" src="assets/whatsapp.png" />
    </button>
    <a href="tel:{{ args.phone }}">
      <mat-icon>call</mat-icon>
      {{ displayPhone() }}
    </a>
  </div>
</ng-container>
